// ------------------------------
// サンクスページ
// ------------------------------

.thanks_header header {
  @media ($sp) {
    opacity: 1;
  }
}

.thanks_tel {
  display: none;
  position: fixed;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 30px;
  z-index: 20;

  .thanks_header & {
    display: flex;

    @media only screen and (max-width: 1450px) {
      display: none;
    }
  }
}

.contents_wrapper2 {
  max-width: 1000px;
  margin: 0 auto;
  padding: 160px 20px 20px;
  overflow: hidden;

  @media ($sp) {
    width: 100%;
    padding: 100px 10px 20px;
  }
}

.thanks_wrapper {
  width: calc(100vw - 400px);
  max-width: 600px;
  margin: 0 auto 60px;
  padding: 45px 30px 30px;
  border-radius: 10px;
  background: $white;

  @media ($sp) {
    width: 90%;
    margin: 0 auto 40px;
  }

  h1 {
    padding-bottom: 10px;
    font-size: $large;
    font-weight: 700;
    border-bottom: 2px solid $gray;
    text-align: center;
  }

  p {
    margin-top: 20px;
    text-align: center;

    &:first-child {
      font-weight: 700;
      font-size: $big;
    }
  }
}

.thanks__detail {
  width: 80%;
  margin: 0 auto;
  text-align: left;

  @media ($sp) {
    width: 90%;
  }

  h2 {
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid $gray;
  }

  p {
    text-align: left;
  }

  &-img {
    margin-top: 10px;
  }
}

.flowChart {
  margin: 0 auto;
  background: $white;

  @media ($sp) {
    width: 90%;
    margin: 20px auto 0;
  }

  &-title {
    background: #326FAF;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 700;
  }

  &__steps {
    background: white;
    padding: 30px;

    @media ($sp) {
      padding: 20px;
    }
  }

  &__step {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 30px 0;
    border-top: 1px solid #ddd;
  
    @media ($sp) {
      padding: 15px 0;
    }
  
    &:nth-of-type(1) {
      border-top: 0;
    }

    &:first-child {
      padding-top: 0;
    }
  }

  &-num {
    position: relative;
    margin-right: 20px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    padding-top: 12px;
    text-align: center;
    background: #326FAF;
    color: #fff;
    font-size: 36px;

    @media ($sp) {
      width: 50px;
      height: 50px;
      padding-top: 5px;
      font-size: 24px;
    }
  }

  &__content {
    display: flex;
    width: calc(100% - 100px);

    @media ($sp) {
      flex-direction: column;
      width: calc(100% - 70px);
    }
  }

  &__description {
    width: 60%;
    margin-right: 20px;

    @media ($sp) {
      width: 100%;
      margin-right: 0;
      font-size: 15px;
    }

    &-title {
      margin-bottom: 10px;
      color: #326FAF;
      font-size: 22px;
      font-weight: 700;

      @media ($sp) {
        font-size: 20px;
      }
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    line-height: 1.5;
    font-size: 16px;
    padding: 10px;

    .flowChart__step:nth-child(1) & img {
      width: 250px;
      @media ($sp) {
        width: 200px;
      }
    }

    .flowChart__step:nth-child(3) & img {
      width: 230px;
    }

    @media ($sp) {
      width: 100%;
      font-weight: normal;
      font-size: 13px;
    }
  }
}

.thanks_tel2 {
  margin: 0 0 40px;
  text-align: center;

  @media($pc) {
    margin: 30px 0 60px;
    pointer-events: none;
  }
}

.h1-sub, .thanks_gift, .thanks_gift-text{
  text-align:center;
}